<div
  class="container w-full mx-auto flex flex-row  justify-center items-center p-4 bg-[#001e4a]"
>
  <div class="flex-1 flex items-center justify-center space-x-4 mt-2">
    <a href="#" class="hover:text-gray-400 text-white"><mat-icon class="pt-1">home</mat-icon>Home</a>
    <a href="#" class="hover:text-gray-400 text-white">Products</a>
    <a href="#" class="hover:text-gray-400 text-white">About</a>
    <a href="#" class="hover:text-gray-400 text-white">Contact</a>
    <!-- <button
      id="theme-toggle"
      class="bg-gray-700 p-2 rounded-lg hover:bg-gray-600"
    >
      Toggle Theme
    </button> -->
  </div>
</div>
